html, body{
    border: 3px solid rgb(255, 68, 0);
    border-style:outset;
    box-sizing: border-box;
    background-color: rgb(38, 11, 70);
}
.layout{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 600vh 80vh;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
}                                                /* corpo e layout */


.nav{
    grid-area: nav;
}
.header-top {
    background-color: rgb(0, 0, 0);
    padding: 20px 5%; 
    display: flex;        
    justify-content: flex-start;
}

.navbar {
    background-color: #000000; 
}

.titulo-site {
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-logo-titulo {
    display: flex;      
    align-items: center;    
}
.logo-img {
    height: 60px;          
    width: auto;
    margin-right: 50px;    /* Espaço entre a logo e o título */
}
.collapse{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}
.btn{
    background-color: black;
}
.dropdown-menu{
    background-color: black;
}



                                       /* MAIN */


main{
    color: azure;
    background-color: rgb(0, 0, 0);
    grid-area: main;
}
.titulomain {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 40px;
}
.soldestaque{
    color: rgb(255, 68, 0);
}
.titulomain h1{
    font-size: 50px;
}
main img{
    height: 1600px;
    width: 1850px;
}
.textosol{
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.0;
    margin: 10%;
}
.textosol h2{
     line-height: 1.5;
}
.textosol h4{
     line-height: 1.5;
}
.textosol h3{
    color: rgb(255, 68, 0);
    line-height: 2.0;
}
.textosol img{
    height: 700px;
    width: 800px;
    margin-left: 350px;
}
.tabelasol{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #1e1e1e;
}
th, td {
    border: 1px solid #444;
    padding: 20px;
    text-align: left;
}
th {
    background-color: #ff8c00;
    color: black;
    font-size: 18px;
}

tr:hover {
    background-color: #333;
}
.proximo{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 350px;
    
}
.planrochosos{
    color: saddlebrown;
}

                                    /* FOOTER */

footer{
    color: azure;
    background-color: rgb(42, 42, 42);
    grid-area: footer;
}
.cardsFooter{
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardsFooter .card{
    max-width: 400px;
    margin: 10%;
    margin-top: 10px;
}
.cardsFooter .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardsFooter .card a{
    color: white;
    text-decoration: none;
}
.cardsFooter .card-body{
    color: aliceblue;
    background-color: black;
}
.col-md-4 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.paragrafo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}


/* ================= RESPONSIVO ================= */

@media (max-width: 900px) {

   .layout {
        grid-template-columns: 1fr;
         grid-template-rows: auto auto auto;
    }
    .titulo-site {
        font-size: 20px;
    }
    .titulomain h1{
        font-size: 30px;
        margin: 5px;
        padding: 0;
    }
    .titulomain{
        margin: 2px;
        padding: 0;
    } 
    main img{
        width: 52vh;
        height: 52vh;
    }
    .textosol{
        margin: 5px;
    }
    .textosol h2, h3, li, ul{
        font-size: 10px;
    }
    .textosol h4{
        font-size: 9px;
    }
    .textosol img{
        height: 30vh;
        width: 30vh;
        margin-left: 60px;
    }

    .tabelasol{
        height: 30vh;
        width: 50vh;
        margin-left: 10px;
        margin-right: 0;
        margin-top: 10vh;
    }
    th, td {
        font-size: 10px;
        padding: 0
    }
    th {
        font-size: 15px;
        padding: 0;
    }




    .cardsFooter {
        width: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardsFooter .card{
        width: 30vh;
    }
    .cardsFooter .col-md-4 img {
        width: 30vh;
        height: 20vh;
    }
    .cardsFooter .card a{
        width: 30vh;
    }
    .cardsFooter .card-body{
        width: 30vh;
    }
    .card-body h5{
        font-size: 15px;
    }
    .cardsFooter .card-text{
        font-size: 10px;
    }
}