html, body{
    border: 3px solid saddlebrown;
    border-style:outset;
    box-sizing: border-box;
    background-color: rgb(38, 11, 70);
}
.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 60vh auto auto 70vh;
    grid-template-areas: 
    "nav nav"
    "section section"
    "aside main"
    "tabela tabela"
    "footer footer";
}


.header-top {
    background-color: rgb(0, 0, 0);
    padding: 20px 5%; 
    display: flex;        
    justify-content: flex-start;
}
nav{
    grid-area: nav;
}
.navbar {
    background-color: #000000; 
}

.titulo-site {
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-logo-titulo {
    display: flex;      
    align-items: center;    
}
.logo-img {
    height: 60px;          
    width: auto;
    margin-right: 50px;   
}
.collapse{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}
.btn{
    background-color: #000000;
}
.dropdown-menu{
    background-color: #000000;
}

                                       /* section */
.titulorochosos{
    grid-area: section;
    color: saddlebrown;
    background-color: #001423;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 
    0 0 15px rgba(141, 120, 120, 0.616);
}
.titulorochosos h1{
    font-size: 90px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    margin: 40px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.rochosos{
    color: rgb(176, 137, 89);
}
.textorochosos{
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
    padding: 20px;
    border: 5px solid rgb(146, 119, 101);
    border-radius: 20px;
    box-shadow: 
    0 0 15px rgba(141, 120, 120, 0.616);
}


                                       /* main */
main{
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    grid-area: main;
    padding: 40px;
}

main h3{
    font-size: 30px;
    margin-top: 150px;
    color: saddlebrown;
}


                                      /* aside */
aside{
    color: aliceblue;
    background-color:  black;
    grid-area: aside;
} 

aside img{
    margin-top: 150px;
}
.tabela{
    grid-area: tabela;
    background-color: #000000;
    color: white;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    
}
.tabela table{
   margin-left: auto;
   margin-right: auto;
}
.tabela h1{
    text-align: center;
    margin: 100px;
    color: saddlebrown; 
}
.tabela h3{
    text-align: center;
    margin: 50px;
    color: saddlebrown; 
}
.tabela ul{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: collapse;
    width: 700px;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #444;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #0096ff;
    color: white;
}

tr:hover {
    background-color: #333;
}
.final{
    text-align: center ;
}
.crosta{
    color: rgb(114, 74, 28);
}
.manto{
    color: brown;
}
.nucleo{
    color: darkgoldenrod;
}

.proximo{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 350px;
    
}
.plangasosos{
    color:aqua;
}



                                     /* footer */
footer{
    color: azure;
    background-color: rgb(42, 42, 42);
    grid-area: footer;
}
.cardsFooter{
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardsFooter .card{
    max-width: 400px;
    margin: 10%;
    margin-top: 10px;
}
.cardsFooter .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardsFooter .card a{
    color: white;
    text-decoration: none;
}
.cardsFooter .card-body{
    color: aliceblue;
    background-color: black;
}
.col-md-4 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.paragrafo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}



