html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 107, 127);
}
.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 200vh 81vh;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}
nav{
    background-color: black;
    grid-area: header;
}

main{
    color: azure;
    background-color: rgb(22, 22, 22);
    grid-area: main;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
aside{
    color: aliceblue;
    background-color:  black;
    grid-area: aside;
}

footer{
    color: azure;
    background-color: rgb(42, 42, 42);
    grid-area: footer;
}



.cardsFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 160px;
}

.cardsFooter .card{
    max-width: 400px;
}

.cardsFooter .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsFooter .card a{
    color: white;
    text-decoration: none;
}

.cardsFooter .card-body{
    color: aliceblue;
    background-color: black;
}



.col-md-4 img {
    width: 100%;
    height: 180px; /* escolha o tamanho ideal */
    object-fit: cover;
}
table {
    border-collapse: collapse;
    width: 700px;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #444;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #0096ff;
    color: white;
}

tr:hover {
    background-color: #333;
}