html, body{
    border: 3px solid  rgba(0, 111, 111, 0.663);
    border-style:outset;
    box-sizing: border-box;
    background-color: rgb(38, 11, 70);
}
.layout{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 60vh auto auto 70vh;
    grid-template-areas: 
    "nav nav"
    "titulogasosos titulogasosos"
    "main aside"
    "tabela tabela"
    "footer footer";
}


.header-top {
    background-color: rgb(0, 0, 0);
    padding: 20px 5%; 
    display: flex;        
    justify-content: flex-start;
}
nav{
    grid-area: nav;
}
.navbar {
    background-color: #000000; 
}

.titulo-site {
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-logo-titulo {
    display: flex;      
    align-items: center;    
}
.logo-img {
    height: 60px;          
    width: auto;
    margin-right: 50px;   
}
.collapse{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}
.btn{
    background-color: #000000;
}
.dropdown-menu{
    background-color: #000000;
}


                                       /* section */
.titulogasosos{
    grid-area: titulogasosos;
    color: rgba(0, 255, 255, 0.884);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulogasosos h1{
    font-size: 90px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    margin: 40px;
    text-shadow: 0 0 15px rgb(114, 195, 191);
}
.gasosos{
    color: rgb(69, 124, 127);
}
.textogasosos{
    font-size: 25px;
    font-weight: bold;
    max-width: 1000px;
    margin: 50px;
    padding: 20px;
    border: 5px solid rgb(117, 142, 140);
    border-radius: 20px;
    box-shadow: 
    0 0 15px rgba(56, 225, 222, 0.616);
}


                                       /* main */
main{
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    grid-area: main;
    padding: 40px;
}

main h3{
    font-size: 30px;
    margin-top: 240px;
    color:  rgba(0, 255, 255, 0.884);
}


                                      /* aside */
aside{
    color: aliceblue;
    background-color:  black;
    grid-area: aside;
} 

aside img{
    margin-top: 150px;
}
.tabela{
    grid-area: tabela;
    background-color: #000000;
    color: white;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    
}
.tabela table{
   margin-left: auto;
   margin-right: auto;
}
.tabela h1{
    text-align: center;
    margin: 100px;
    color:  rgba(0, 255, 255, 0.884); 
}
.tabela h3{
    text-align: center;
    margin: 50px;
    color:  rgba(0, 255, 255, 0.884);
}
.tabela ul{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
table {
    font-size: 20px;
    border-collapse: collapse;
    width: 700px;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #444;
    padding: 20px;
    text-align: center;
}

th {
    background-color:  rgba(0, 255, 255, 0.362);
    color: white;
}

tr:hover {
    background-color: #333;
}

.proximo{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 350px;
    
}
.curiosidades{
    color:purple;
}



                                     /* footer */
footer{
    color: azure;
    background-color: rgb(42, 42, 42);
    grid-area: footer;
}
.cardsFooter{
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardsFooter .card{
    max-width: 400px;
    margin: 10%;
    margin-top: 10px;
}
.cardsFooter .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardsFooter .card a{
    color: white;
    text-decoration: none;
}
.cardsFooter .card-body{
    color: aliceblue;
    background-color: black;
}
.col-md-4 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.paragrafo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}



@media (max-width: 768px) {

   .layout {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
    "nav nav"
    "section section"
    "aside main"
    "tabela tabela"
    "footer footer";
    }
    .titulo-site {
        font-size: 17px;
    }
    .titulogasosos h1{
        font-size: 22px;
        margin: 10px;
    }
    .titulogasosos .textogasosos{
        font-size: 15px;
        width: 40vh;
    }
    .titulogasosos{
        display:inline;
    }


    aside img{
        margin-top: 10px;
        height: 100px;
        width: 130px;
    }


    main{
        margin: 0;
        padding: 0;
    }
    main h2, li, ul{
        font-size: 10px;
        margin: 10px;
        padding: 0;
    }
    main h3{
        font-size: 15px;
        margin-top: 0;
        margin: 20px;
    }
    


    
    .tabela{
        height: 30vh;
        width: 50vh;
        margin-left: 10px;
        margin-right: 0;
        margin-top: 10vh;
    }
    th, td {
        font-size: 10px;
        padding: 0
    }
    th {
        font-size: 15px;
        padding: 0;
    }




    .cardsFooter {
        width: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardsFooter .card{
        width: 30vh;
    }
    .cardsFooter .col-md-4 img {
        width: 30vh;
        height: 20vh;
    }
    .cardsFooter .card a{
        width: 30vh;
    }
    .cardsFooter .card-body{
        width: 30vh;
    }
    .card-body h5{
        font-size: 15px;
    }
    .cardsFooter .card-text{
        font-size: 10px;
    }

    body {
        overflow-x: hidden;
    }
}



